{% load static %}

<!doctype html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'css/css_bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'css/css_main.css' %}">

      <title>STUPIDQUESTIONS</title>
  </head>

  <body>
    {% include 'inc/navbar.html' %}
    <section>
        <main role="main" class="container">
            <div class="row mt-5">
                <div class="col-md-8 blog-main px-1">
                    {% block content %}{% endblock content %}
                </div><!-- /.blog-main -->
                {% include 'inc/right_menu.html' %}
            </div><!-- /.row -->
        </main>
    </section>
    {% include 'inc/footer.html' %}
  </body>
</html>