{% extends 'base.html' %}

{% block content %} 
    <h3 class="pb-3 mb-4 text-monospace border-bottom">
        Hot Stupid Questions
        <a class="p-4" style="font-size: 20px; text-decoration: underline;" href="{% url 'index' %}"> 
        New Stupid Questions</a>
    </h3>
    {% for question in questions %}
        {% include 'inc/question.html' %}
    {% endfor %}
    {% include 'inc/pagination.html' %}
{% endblock content %}     