{% extends 'base.html' %}

{% block content %}
  <h3 class="pb-3 mb-4 text-monospace border-bottom">
      Log in
  </h3>

  <h5 style="color: red;">
      Sorry, wrong password.
  </h5>

  <form class="form mt-2">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <h3 class="pt-3 mt-4 text-monospace border-top">
      <a class="p-2" style="font-size: 25px; text-decoration: underline;" href="{% url 'signup' %}"> 
        Create new account</a>
  </h3>
{% endblock content %}