{% extends 'base.html' %}

{% block content %}
	{% load static %}
	<h3 class="pb-3 mb-4 text-monospace border-bottom">
        {{ question.question }}
    </h3>
    <div class="contatiner mb-4 border-bottom">
        <div class="row">
        	{% include 'inc/like-container.html' %}
            <div class="col mb-1">
                <p class="mt-1 mb-0">
                    {{ question.text }}
                </p>
                <div>
                	{% include 'inc/user-block.html' %}
                    Tags:
                    {% for tag_ in question.tags %}
                        <a href="{% url 'tag' tag=tag_ %}" class="refs mr-1">{{ tag_ }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <h3 class="pb-1 mb-4 text-monospace border-bottom">
        Answers
    </h3>

	{% for answer in answers %}
		{% include 'inc/answer.html' %}
	{% endfor %}
    
	{% include 'inc/pagination.html' %}
{% endblock content %}