{% load static %}

<div class="contatiner border-right border-bottom border-top mb-4">
    <div class="row">
<!--         <div class="col-1">
            <img src="{% static 'img/photo.jpg' %}" class="rounded border mr-3 ml-1 mt-1" style="max-width: 50px;">
            <input class="mr-3 ml-1 mt-1 pl-2" min="4" max="6" value="5" type="number" style="width: 50px; display: inline-block;">
        </div> -->
            <div class="statscontainer border"> 
                <a class="like mt-2"><i class="fa fa-thumbs-o-up"></i>  
                    Like <input class="qty1" name="qty1" readonly="readonly" type="text" value="0" />
                </a>
                <a class="dislike mb-3 "><i class="fa fa-thumbs-o-down"></i> 
                     Dislike <input class="qty2"  name="qty2" readonly="readonly" type="text" value="0" />
                 </a>
            </div>

        <div class="col mb-1">
            <p class="mt-1">
                {{ answer.text }}
            </p>
                <div>
                    <div class="started fr">
                        <div class="user-info">
                            <div class="user-gravatar32">
                                <img src="{% static 'img/photo.jpg' %}" class="rounded border" style="max-width: 50px;">
                            </div>
                            <div class="user-details offset-4"> 
                                <a href="#" class="">Stupid User</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>