	
	<div class="statscontainer border-right"> 
		<a class="like mt-2"><i class="fa fa-thumbs-o-up"></i>  
			Like <input class="qty1" name="qty1" readonly="readonly" type="text" value="0" />
		</a>
		<a class="dislike mb-3"><i class="fa fa-thumbs-o-down"></i> 
				 Dislike <input class="qty2"  name="qty2" readonly="readonly" type="text" value="0" />
		 </a>
	</div>