{% load static %}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light pb-2 mb-4">
        <div class="offset-xl-2 ">
            <a class ="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'img/icon.jpg' %}" width="50" height="50" alt="">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-6" id="navbarTogglerDemo01">
            <a class="btn btn-primary btn-warning btn-lg text-monospace" href="{% url 'ask' %}" role="button">Ask!</a>
            <a class="navbar-brand  font-weight-normal  text-monospace col-6" href="{% url 'index' %}">STUPID QUESTIONS</a>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="🔍Search" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div align="left">
            <a class="col-1 refs" href="{% url 'login' %}" >Log in</a>
            <a class="col-1 refs" href="{% url 'signup' %}">Sign up</a>
        </div>
    </nav>
</header>