
<div class = " wrap-pagination">
<nav aria-label="Page navigation">
    <ul class="pagination">

        {% if prev >= 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ prev }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>          
        {% endif %}

        {% for number in bounds %}
            {% if number != page%}
                <li class="page-item"><a class="page-link" href="?page={{ number }}">{{ number }}</a></li>
            {% else %}
                <li class="page-item active"><a class="page-link" href="?page={{ number }}">{{ number }}</a></li>
            {% endif %}

        {% endfor %}


        {% if next <= bounds|last %}

            <li class="page-item">
            <a class="page-link" href="?page={{ next }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
            </li>
        {% endif %}

    </ul>
</nav>
</div>>