{% load static%}

<div class="contatiner border rounded mb-4">
    <div class="row pl-3">
        {% include 'inc/stats-container.html' %}

        <div class="col mb-2 pl-2">
            <div class = "card-header">
                <a  class="refs" href="{% url 'question' qid=question.id %}">{{question.question}}</a>
                    <a class="float-right" href= "{% url 'question' qid=question.id %}"class = "px-3">{{question.title}}</a>
            </div>

            <p class="pt-1">{{question.pretext}}...</p>
            <div class="tags">
                Tags:
                    {% for tag_ in question.tags %}
                        <a href="{% url 'tag' tag=tag_ %}" class="refs mr-1">{{ tag_ }}</a>
                    {% endfor %}
            </div>
            {% include 'inc/user-block.html' %}
        </div>
    </div>
</div>