

<aside class="col-md-4 blog-sidebar">
    <div class="p-3 mb-3 bg-light rounded">
        <h4 class="text-monospace">Popular tags</h4>
        <nav class="my-2 my-md-0 mr-md-3">
            <a style="color: red; font-size: 20px" href="#">Perl</a>
            <a class="p-2" style="color: #352f2f; font-size: 22px" href="#">Python</a>
            <a class="p-2" style="color: #4a7941; font-size: 24px" href="#">TechnoPark</a>
            <a class="p-2" style="color: #6267b4; font-size: 20px" href="#">MySQL</a>
            <a class="p-5" style="color: #16eedc; font-size: 22px" href="#">django</a>
            <a class="p-2" style="color: #e272dd; font-size: 18px" href="#">Mail.Ru</a>
            <a class="p-2" style="color: #6267b4; font-size: 21px" href="#">Voloshin</a>
            <a class="p-2" style="color: #d80b2d; font-size: 16px" href="#">FireFox</a>
        </nav>
    </div>

    <div class="p-3">
        <h4 class="text-monospace">Best members:</h4>
        <ol class="list-unstyled mb-0">
        <li><a class="refs" href="#">Mr.freeman</a></li>
        <li><a class="refs" href="#">Dr.house</a></li>
        <li><a class="refs" href="#">Bender</a></li>
        <li><a class="refs" href="#">Queen Victoria</a></li>
        <li><a class="refs" href="#">V.Pupkin</a></li>
        </ol>
    </div>
</aside><!-- /.blog-sidebar -->