{% load static %}

	<div class="started fr">
		<div class="user-info">
			<div class="user-gravatar32">
	    		<img src="{% static 'img/photo.jpg' %}" class="rounded border" style="max-width: 50px;">
			</div>
	    	<div class="user-details offset-4"> 
	       		<a href="#" class="">Stupid User</a>
	    	</div>
		</div>
	</div>